<div class="w-2/3 mx-auto border rounded-lg overflow-auto my-10 text-slate-600">

    <app-invoice-view [id]="invoice.id" [name]="invoice.name"></app-invoice-view>
    
    <div class="p-6 grid grid-cols-2 justify-between gap-4">
        <app-client-view [client]="invoice.client" [address]="invoice.client.address"></app-client-view>
        <app-company-view [id]="invoice.id" [company]="invoice.company"></app-company-view>
    </div>

    <app-list-items [items]="invoice.items"></app-list-items>
    
</div>