<div id="client-info">
    <p class="text-sm">To:</p>
    <h2 class="text-lg font-bold uppercase mb-1">{{ client.name }} {{ client.lastName }}</h2>
    <ul class="flex flex-col gap-1 text-xs font-light">
        <li>
            {{ address.street }} {{ address.number }}
        </li>
        <li>
            {{ address.city }}, {{ address.country }}
        </li>
        <li>
            <span class="font-bold">Email:</span> {{ client.email }}
        </li>
        <li>
            <span class="font-bold">Phone:</span> {{ client.phone }}
        </li>
    </ul>
</div>